*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.suo
*__pycache__
*.idea
*.ipynb_checkpoints
*.pickle
*.npy
*.blg
*.bbl
*.bcf
*.toc
*.wav
*.sh
GV_Train_100h
train-clean-100/*
train-clean-100.tar.gz
saved_models/default/encoder.pt
saved_models/default/synthesizer.pt
saved_models/default/vocoder.pt
VoiceCloning.zip